{{ if eq .chezmoi.os "linux" }}
[".local/bin/ngrok"]
    type="file"
    executable=true
    url="https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tgz"
    refreshPeriod = "168h"
    ['.local/bin/ngrok'.filter]
        command = "tar"
        args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "ngrok"]

[".local/share/fonts/FiraCode-Regular-NerdFont-CompleteMono.ttf"]
    type="file"
    url="https://raw.githubusercontent.com/ryanoasis/nerd-fonts/{{ (gitHubLatestRelease "ryanoasis/nerd-fonts").TagName }}/patched-fonts/FiraCode/Regular/FiraCodeNerdFontMono-Regular.ttf"
    refreshPeriod="168h"

[ ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting" ]
  type= "git-repo"
  url= "https://github.com/zsh-users/zsh-syntax-highlighting.git"
  refreshPeriod = "168h"
  stripComponents= 1
  exact= true
{{ end }}