{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{/* Prompt for user data */}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $username := promptStringOnce . "username" "Your username" -}}
{{- $javaHome := promptStringOnce . "javaHome" "Your javahome path" -}}

[data]
    email = {{ $email | quote }}
    username = {{ $username | quote }}
    javaHome = {{ $javaHome | quote }}
    personal = {{ $personal }}
[git]
    autoCommit = false
    autoPush = false
[edit]
    command = "codium"
    args = ["--wait"]