{{ if eq .osid "linux-arch" -}}

{{ $packages := list
     "bat"
     "fzf"
     "git"
     "git-lfs"
     "shellcheck"
     "zsh"
     "hyfetch"
     "fastfetch"
     "neovim"
     "hyprland"
     "hypridle"
     "hyprpaper"
     "hyprlock"
     "hyprcursor"
     "kitty"
     "waybar"
     "wofi"
     "noto-fonts-emoji"
     "noto-fonts"
     "bluez"
     "blueman"
     "pipewire"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

for package in {{ $packages | join " " }}; do
    if ! pacman -Qi $package &> /dev/null; then
        echo "➕ Installing $package"
        {{ $sudo }} pacman -Sy --noconfirm $package
    fi
done

{{ end }}