{{ if eq .osid "linux-arch" -}}

{{ $packages := list
     "bat"
     "fzf"
     "git"
     "git-lfs"
     "shellcheck"
     "zsh"
     "hyfetch"
     "fastfetch"
     "neovim"
     "hyprland"
     "hypridle"
     "hyprpaper"
     "hyprlock"
     "hyprcursor"
     "kitty"
     "waybar"
     "wofi"
     "noto-fonts-emoji"
     "noto-fonts"
     "bluez"
     "blueman"
     "tlp"
     "brightnessctl"
     "pipewire"
     "wireplumber"
     "qt5ct"
     "qt6ct"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

missing=()

for package in {{ $packages | join " " }}; do
    if ! pacman -Qi "$package" &>/dev/null; then
        echo "➕ Missing: $package"
        missing+=("$package")
    fi
done

if [ ${#missing[@]} -gt 0 ]; then
    echo "📦 Installing missing packages: ${missing[*]}"
    {{ $sudo }} pacman -S --noconfirm "${missing[@]}"
else
    echo "✅ All packages already installed"
fi

{{ end }}
